{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="accueil">Gite.</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="accueil">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="search">Rechercher</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>&nbsp;&nbsp;&nbsp;
                            <li class="nav-item"><a class="nav-link"  href="login"><button class="btn btn-primary">Connexion</button></a></li>
                            <li class="nav-item"><a class="nav-link"  href="register"><button class="btn btn-danger">S'inscrire</button></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
         
 <section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">S'inscrire</h3>
              {{ form_start(registrationForm) }}
            <div class="form-outline mb-4">
              {{ form_row(registrationForm.email) }}
            </div>
            
            <div class="form-outline mb-4">
               {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
              {{ form_row(registrationForm.agreeTerms) }}

            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
               {{ form_end(registrationForm) }}
            <hr class="my-4">

         

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
   
{% endblock %}
