{% extends 'base.html.twig' %}

{% block title %}Gite{% endblock %}

{% block body %}
   
<main class="container">
  <div class="p-2 p-md-3 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-6 fst-italic">GITE n°{{ gite.id }}</h1>
    </div>
  </div>
  <div class="row mb-2 px-5">
    <div class="col-md-5">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ gite.surface}} m²</h3> <br>
          <strong class="d-inline-block mb-0 text-primary">"Un magifique petit coin de verdure"</strong>
            <p class="mb-auto">{{ gite.adresse }}</p>
            <p class="mb-auto">{{ gite.ville }} ({{ gite.codePostal }})</p>
            <p class="mb-auto">{{ gite.departement }} (région:{{ gite.region }})</p>
            <p class="mb-auto py-4">{{ gite.nbChambres }} Chambres et {{ gite.nbCouchage }} Couchage</p>
            <h5 class="mb-0">Tarifs:</h5>
            <p>Basse saison: {{ gite.tarifJourBS }} €/jour - Haute saison: {{ gite.tarifJourHS }} €/jour</p>
            <h5 class="mb-0">Animaux</h5>
            <p>- {{ gite.prixAnimaux }} €/jour et par animal</p>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
        </div>
    </div>
    <div class="col-md-7">
      <div class="mx-4 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h4 class="mb-0" >ÉQUIPEMENTS</h4> <br>
          <h6 class="mb-0">INTÉRIEURS:</h4> <br>
          <p class="mb-auto">à remplir</p>
          <h6 class="mb-0">EXTÉRIEURS:</h6> <br>
          <p class="mb-auto">à remplir</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://loremflickr.com/320/400/house" class="card-img-top" alt="..." style="width:100%;">
        </div>
      </div>
    </div>
    {# IMAGES #}
    {# {{ gite.arrayImages ? gite.arrayImages|join(', ') : '' }} #}
    <div class="row ">
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://loremflickr.com/320/240/house" class="card-img-top" alt="..." style="width:100%;">
            <div class="card-body">
              <p class="card-text">Vue n° 1</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://loremflickr.com/320/240/room" class="card-img-top" alt="..." style="width:100%;">
            <div class="card-body">
              <p class="card-text">Vue n° 2</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://loremflickr.com/320/240/pool" class="card-img-top" alt="..." style="width:100%;">
            <div class="card-body">
              <p class="card-text">Vue n° 3</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 my-4">
        <a href="{{ path('app_affichergite_index') }}">
            <button  type="submit" class="btn btn-b w-100 btn-success">Retour</button>
        </a>
        </div>   
  </div>    
</main>
    {{ include('affichergite/_delete_form.html.twig') }}
{% endblock %}
