{% extends 'base.html.twig' %}



{% block title %}Gite

{% endblock %}

{% block body %}

{{ include('layouts/partials/_nav.html.twig') }}
<script>
    require (["esri/config","esri/Map","esri/views/MapView"], 
        function(esriConfig,Map,MapView)
      {
      esriConfig.apiKey = "AAPK1c1ca5018f294e6eb85e58b71da09619B6Zz0TmLBk_37IwLQXtF97pNn8oQI47VXtVjfwVhofxcJgr0PJB3PR60yRlYJbf-";//"YOUR-API-KEY";
      let map1 = new Map({basemap:"arcgis-topographic"})
      let mapview = new MapView({container: "carte", map: map1, center: [2.2505492158227987,48.82639566683736], zoom: 14});
    })
</script>


<main class="container">
  <div class="py-4 p-md-3 m-4 text-white rounded bg-info">
    <div class="col-md-6 px-0">
      <h1 class="display-6 fst-italic">GITE n°{{ gite.id }}</h1>
    </div>
  </div>
  <div class="row mb-2 px-5">
    <div class="col-md-5">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-3 d-flex flex-column position-static">
          <h3 class="mb-0">Surface: {{ gite.surface}} m²</h3> <br>
          <strong class="d-inline-block mb-0 text-primary">{{ descript[0] }}</strong>
            <p class="mb-auto">{{ gite.adresse }}</p>
            <p class="mb-auto">{{ gite.ville }} ({{ gite.codePostal }})</p>
            <p class="mb-auto">{{ gite.departement }} (région:{{ gite.region }})</p>
            <p class="mb-auto mt-0 py-3 text-primary font-weight-bold">{{ gite.nbChambres }} Chambres et {{ gite.nbCouchage }} Couchage</p>
            <h5 class="mb-1">Tarifs:</h5>
            <p class="text-primary">Basse saison: {{ gite.tarifJourBS }} €/jour - Haute saison: {{ gite.tarifJourHS }} €/jour</p>
            <h5 class="mb-1">Animaux</h5>
            <p class="text-primary">- {{ gite.prixAnimaux }} €/jour et par animal</p>
            <h5 class="mb-1">Propriétaire</h5>
            <p class="text-primary">{{ proprietaire.nomProprietaire }}</p>
            <p class="text-primary">{{ proprietaire.telProprietaire }}</p>
            <p class="text-primary">{{ proprietaire.mailProprietaire }}</p>
            <p class="text-primary">Disponibilités de {{ proprietaire.horairesDisponibilites }}</p>
        </div>
        
        <div class="col-auto d-none d-lg-block">
        </div>
        </div>
    </div>


    <div class="col-md-7">
      <div class="mx-4 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h4 class="mb-0" >ÉQUIPEMENTS</h4>
          <h6 class="mb-2 mt-4">INTÉRIEURS:</h4> 

           {% for i in 0..nbInt %} 
           <p class="mb-auto text-primary">- {{ allInt[i] }}</p> 
           {% endfor %} 

          <h6 class="mb-2 mt-4">EXTÉRIEURS:</h6> 

          {% for i in 0..nbExt %} 
          <p class="mb-auto text-primary">- {{ allExt[i] }}</p> 
          {% endfor %} 
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://loremflickr.com/320/400/lodging" class="card-img-top" alt="..." style="width:100%;">
        </div>
      </div>
    </div>
    <div id='carte' style='width:100%;height:100%'></div>
    {# IMAGES #}
    {# {{ gite.arrayImages ? gite.arrayImages|join(', ') : '' }} #}
    <div class="row ">
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://loremflickr.com/320/240/house" class="card-img-top" alt="..." style="width:100%;">
            <div class="card-body">
              <p class="card-text">Vue n° 1</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://loremflickr.com/320/240/room" class="card-img-top" alt="..." style="width:100%;">
            <div class="card-body">
              <p class="card-text">Vue n° 2</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://loremflickr.com/320/240/appartment" class="card-img-top" alt="..." style="width:100%;">
            <div class="card-body">
              <p class="card-text">Vue n° 3</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 my-4">
        <div class="col-md-12 my-4">
          <div class="col-xs2 col-sm3">
            <h2>Liste des commentaires</h2>
            {% for comment in gite.comments %}
              <p>Publié par {{comment.nickname}} le {{comment.createdAt|date("d/m/Y H:i")}}</p>
              <div>{{comment.content|raw}}</div>
              <p><a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="btn btn-info">Répondre</a></p>
            {% endfor %}
          </div>
          <div class="col-xs2 col-sm3" id="ajout-commentaire">
            <h2>Ajouter un commentaire</h2>
            {{ form(commentForm) }}
          </div>
        <a >
            <button  type="button" class="btn btn-b w-100 btn-success" onClick="history.back()">Retour</button>
        </a>
        </div>   
  </div>    

</main>

{{ include('layouts/partials/_footer.html.twig') }}

{% endblock %} 
