
{% extends 'base.html.twig' %}

{% block title %}Rechercher{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="accueil">Gite.</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="accueil">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="search">Rechercher</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>&nbsp;&nbsp;&nbsp;
                            <li class="nav-item"><a class="nav-link"  href="login"><button class="btn btn-primary">Connexion</button></a></li>
                            <li class="nav-item"><a class="nav-link"  href="register"><button class="btn btn-danger">S'inscrire</button></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <br><br>
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">Rechercher</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">

                                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                                {# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}
                                {{ form_start(form) }}
                                    <p>{{ form_row(form.departement, {'attr' : {'placeholder' : "Entrez un département"}}) }}</p>
                                    {{ form_errors(form.departement) }}
                                    <p>{{ form_row(form.ville, {'attr' : {'placeholder' : "Entrez une ville"}}) }}</p>
                                    <p>{{ form_row(form.distance) }}</p>
                                    <p>{{ form_row(form.date) }}</p>
                                    <h4>Équipements intérieurs</h4>
                                    <p>{{ form_row(form.laveVaisselle) }}</p>
                                    <p>{{ form_row(form.laveLinge) }}</p>
                                    <p>{{ form_row(form.climatisation) }}</p>
                                    <p>{{ form_row(form.television) }}</p>
                                    <h4>Équipements extérieurs</h4>
                                    <p>{{ form_row(form.terrasse) }}</p> 
                                    <p>{{ form_row(form.barbecue) }}</p> 
                                    <p>{{ form_row(form.piscinePrivee) }}</p> 
                                    <p>{{ form_row(form.piscinePartagee) }}</p> 
                                    <p>{{ form_row(form.tennis) }}</p> 
                                    <p>{{ form_row(form.pingPong) }}</p> 
                                    <p>{{ form_row(form.locationLinge) }}</p> 
                                    <p>{{ form_row(form.menage) }}</p> 
                                    <p>{{ form_row(form.accesInternet) }}</p>
                                    {{ form_rest(form) }}
                                    <button type="submit">Rechercher</button>
                                    
                                    
                                {{ form_end(form) }}
                                
                            </div>
                        </div>
                    </div>  
                </div>
            </section>  

{% endblock %}
